# VITE_API_URL=http://localhost:3015/api/v1
VITE_API_URL=http://170.187.199.69:3035/api/v1
VITE_PORT=8188
VITE_WS_PORT=8189

# OpenMRS iCCHW Team Role UUID
VITE_OPENMRS_ICCHW_TEAM_ROLE_UUID=fbd5641a-c29f-4450-8a5b-1f5ba6e5d1c4